<%- include ("./partials/header") %>


<div class="row">
  <div class="col-3"></div>

  <div class="col-6">
    <div class="my-3">
      <h1 class="text-center">Register</h1>
  
      <form  action="/register" method="POST" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
          </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
    <div class="my-3">
      <h6>Already a user? <a href="/login">Login Instead?</a></h6>
    </div>
  </div>

  <div class="col-3"></div>
</div>


<%- include ("./partials/footer") %>